.ui-button {
  padding: 0 .5rem;
  height: 3rem;
  min-width: 3rem;
  background: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}